@model IEnumerable<LabbTwo.Models.SchoolConnection>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Courses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SchoolClasses)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Courses.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employees.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Students.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolClasses.SchoolClassName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SchoolConnectionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SchoolConnectionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SchoolConnectionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
